body{
     margin: 0;
     padding: 0;
}
.cabeçalho{
     background-color: #BE000B;
     color: white;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 5px 0;
}
.cabeçalho-imagem{
     width: 5%;
}
.cabeçalho-item{
     display: inline-block;
     margin: 0 16px;
     font-size: 25px;
}
.One-Direction-imagem{
     width: 25%;
}
.One-Direction{
     background-image: linear-gradient(#BE000B, #000000);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10%;
}
.One-Direction-titulo{
     font-size: 140%;
}
.One-Direction-texto-um{
     font-size: 125%;
}
.One-Direction-texto-dois{
     font-size: 125%;
}
.fotos-meninos{
     width: 30%;
}
.principal{
     width: 100%;
}
.rodape{
  background-color: black;
  font-size: 25px;
  text-align: ;
}







.meninos{
     font-size: 25px;
     font-style: italic;
     text-align: center;
     padding: 50px 0;
}
.meninos-div1{
     display: grid;
     grid-template-columns: 20% 20% 20%;
}
.div-niall{
     padding: 15%;
}
.meninos-div2{
     display: grid;
     grid-template-columns: 20% 20% 20%;
}