body{
     margin: 0;
     padding: 0;
}
.cabeçalho{
     background-color: #BE000B;
     color: white;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 5px 0;
}
.cabeçalho-imagem{
     width: 5%;
}
.cabeçalho-item{
     display: inline-block;
     margin: 0 16px;
     font-size: 25px;
}
.One-Direction-imagem{
     width: 25%;
}
.One-Direction{
     background-image: linear-gradient(#BE000B, #000000);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10%;
}
.One-Direction-titulo{
     font-size: 40px;
}
.One-Direction-texto-um{
     font-size: 25px;
}
.One-Direction-texto-dois{
     font-size: 25px;
}
.fotos-meninos{
     width: 30%;
}
.logoesc{
     position:absolute;
     left:80%;
     top:15%;
}

.imagem-prof{
    width: 208px;
    height: 195px;
}

.icones{
    width: 24px;
    margin: 0px 20px; 
}

.prof-nome{
    margin: 0px 40px;
}

.prof-div{
    text-align: center;
}

.professores-titulo{
    text-align: center;
    padding: 30px 0;
}

.prof-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.professores{
    background-image: linear-gradient;
    color: #000000;
}

.rodape{
    background-color: #000000;
    color: #000000;
    text-align: right;
    padding: 10px 0;
}

